.portfolio {
	padding-top: 2px;
	padding-bottom: 80px;
	background: #f5f6f8;
}

.portfolio__tabs {
	display: flex;
	margin-top: 86px;
}

.portfolio__tab {
	margin-right: 60px;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	color: #999999;
	position: relative;
	transition: 0.3s all;

	&:hover {
		color: #00a5ff;
	}

	&:first-of-type {
		margin-left: auto;
	}

	&:last-of-type {
		margin-right: auto;
	}

	&--active {
		color: #00a5ff;

		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 1px;
			background: #63b7e6;
			left: 0;
			bottom: -8px;
		}
	}
}

.portfolio__cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 47px;
}

.portfolio__card {
	width: 30%;

	img {
		width: 100%;
	}

	h4 {
		background: #f4f5f9;
		margin-top: -4px;
		padding: 27px 32px;
		box-shadow: 0px 2px 2px lightgrey;
	}

	a {
		font-size: 18px;
		font-weight: 600;
		color: #999999;
		text-decoration: none;
		text-transform: capitalize;
		transition: 0.3s all;

		&:hover {
			color: #00a5ff; 
		}
	}
}

.reviews__slider-arrow {
	width: 17px;
	height: 32px;
	position: absolute;
	top: 50%;
	cursor: pointer;

	&--left {
		left: 0;
		background: url("../img/arrow-left.svg") no-repeat center;
	}

	&--right {
		right: 0;
		background: url("../img/arrow-right.svg") no-repeat center;
	}
}

@media (min-width: 769px) and (max-width: 960px) {
	.portfolio__card {
		width: 45%;
	}
}

@media (max-width: 768px) {
	.portfolio__tabs {
		flex-direction: column;
		align-items: center;
		margin-top: 70px;
	}

	.portfolio__tab {
		margin: 0;
		margin-bottom: 35px;
		font-size: 18px;

		&:first-of-type {
			margin: 0;
			margin-bottom: 35px;
		}

		&:last-of-type {
			margin: 0;
		}
	}

	.portfolio__cards {
		justify-content: center;
		margin-top: 20px;
	}

	.portfolio__card {
		width: 70%;
		margin-top: 40px;

		a {
			font-size: 22px;
		}
	}
}

@media (max-width: 480px) {
	.portfolio__card {
		a {
			font-size: 20px;
		}
	}
}